<!DOCTYPE html>
<html>
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/Menu.css}"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header">Prueba</header>
        <div class="contenido">
            <h2>Lista de articulos</h2>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                    <thead id="encabezadoTabla">
                        <tr>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Existencias</th>
                            <th>Activo</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item: ${articulos}">
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.precio, 3 ,2 )}"></td>
                            <td th:text="${item.existencias}"></td>
                            <td><input type="checkbox" name="activo" th:checked="${item.activo}" disable="true" value="value"/></td>
                            <td><a th:href="@{/articulo/modificar/} + ${item.idArticulo}">Modificar</a></td>
                            <td><a th:href="@{/articulo/eliminar/} + ${item.idArticulo}">Eliminar</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                Lista de articulos vacia.
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>